html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 85%;
    margin: 20px;
}

.cover-image {
    display: flex;
    align-items: center;
}

.bio-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.animal-bio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.animal-bio img {
    max-height: 180px;
}

.animal-bio p {
    max-width: 320px;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .main-header {
        float: right;
        width: 60%;
    }

    .bio-section {
        align-items: flex-start;
    }
}


/* media query for larger, high density displays */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
}