html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}
.cover-image {
    background-image: url(images/tiger-small.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    margin: 20px;
}

.main-header {
    display: flex;
    justify-content: center;
}

.bio-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.animal-bio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.animal-bio img {
    max-height: 180px;
}

.animal-bio p {
    max-width: 320px;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .cover-image {
        background-image: url(images/tiger.jpg);
        height: 300px;
        /*max-width: 1024px;*/
        margin: 60px;    
    }

    header {
        float: right;
        width: 60%;
    }

    .bio-section {
        align-items: flex-start;
    }
}


/* media query for larger, high density displays */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .cover-image {
        background-image: url(images/tiger2x.jpg);
        /*max-width: 1024px;*/
    }
}