html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/** {
    border: 1px solid purple;
}*/

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 85%;
    margin-bottom: 75px;
}

.cover-image {
    display: flex;
    align-items: center;
}

.cover-image img {
    width: 100%;
}

.bio-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.animal-bio {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    margin-bottom: 30px;
}

.animal-bio img {
    max-width: 100%;
    max-height: 180px;
}

.animal-bio p {
    max-width: 320px;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .page {
        flex-direction: row-reverse;
        align-content: center;
        justify-content: space-between;
    }

    .main-header {
        align-content: center;
        width: 70%;
        margin-bottom: 0;
        margin-right: 30px;
    }
    
    .bio-section {
        width: 15%;
        margin-left: 30px;
        margin-top: 30px;
    }
}

/* Media query for desktop */
@media screen and (min-width: 1024px) {
    .page {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .main-header {
        align-content: center;
        width: 85%;
        margin-bottom: 60px;
        margin-right: 0;
    }

    .bio-section {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 0;
        width: 85%;
    }

    .animal-bio {
        width: 30%;
        margin: 0;
    }
}